<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='main/styles.css') }}">
        <script src="{{ url_for('static', filename='main/script.js') }}" defer></script>
        <title>Главное меню</title>
    </head>
    <body> 
        <div>
            <div id="main_div">
                <span class="punkt_menu">Войти как учащийся</span>
                <span class="punkt_menu">Войти как преподаватель</span>
            </div>
            <div id="alter_div">
                <span class="punkt_menu">Войти в библиотеку</span>
                <span class="punkt_menu">Добавить изображение</span>
                <span class="punkt_menu">Назад</span>
            </div>
        </div>
    </body>
</html>    